<p>index</p>
<ul>
  <li>
  <%=link_to 'code after redirect_to', page_path(:id=>'redirect')%>
  </li>
  <li>
  <%=link_to 'checkbox','/pages/checkbox'%>
  </li>
  <li>
  <%=link_to 'sketch','/pages/sketch'%>
  </li>
</ul>
